<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CJImageView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>435830A51C33D42F0074D713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>435830BE1C33D42F0074D713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>435830C91C33D42F0074D713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
